<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head"></head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>


        <div style="margin-top: 100px;">

            <img src="images/vete.png" alt="inicio" style="height: 500px; width: 100%;">
                <div class="texto" style="
                     position: absolute;
                     top: 30%;
                     right: 140px;
                     transform: translateY(-50%);
                     color: #2f4073;
                     font-weight: bold;
                     font-size: 2em;
                     border-bottom: 3px solid #bf8d7a;
                     ">Cuidados de primera calidad.</div>

                <div style="margin-top: 50px;">

                    <!-- Contenedor principal -->
                    <div class="container">
                        <div class="row g-5">     
                            <!-- Columna 1 -->
                            <div class="col-md-4 columna">
                                <img src="images/mision.png" alt="Imagen 1" class="img-columna1" style="width: 30%; height: 80px; position: relative; left: 136px;">
                                    <div class="titulo" style='font-weight: bold;font-size: 1.5em; margin-top: 20px; text-align:center'>Misión</div><br>
                                        <p class="parrafo" style="text-align: justify; color: gray">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                                        </div>

                                        <!-- Columna 2 -->
                                        <div class="col-md-4 columna">
                                            <img src="images/vision.png" alt="Imagen 2" class="img-columna2" style="width: 25%; height: 80px; position: relative; left: 136px;">
                                                <div class="titulo" style='font-weight: bold;font-size: 1.5em; margin-top: 20px; text-align:center'>Visión</div><br>
                                                    <p class="parrafo" style="text-align: justify; color: gray">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                                                    </div>

                                                    <!-- Columna 3 -->
                                                    <div class="col-md-4 columna">
                                                        <img src="images/empleados.png" alt="Imagen 3" class="img-columna3" style="width: 30%; height: 80px; position: relative; left: 136px;">
                                                            <div class="titulo" style='font-weight: bold;font-size: 1.5em; margin-top: 20px; text-align:center'>Empleados y Servicios</div><br>
                                                                <p class="parrafo" style="text-align: justify; color: gray">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                                                                </div>
                                                                </div>
                    </div>

                                                                <div style="margin-top: 100px;"></div>
                                                                </div>
                
                                                                </div>
                                                                <footer th:replace="layout/plantilla :: footer"></footer>
                                                                </body>
                                                                </html>
